h1,p {
	font-family: "Myriad Set Pro", sans-serif;
}


.wrapper {
	width: 70%;
	margin: 0 auto;
	/*border: 1px solid red;*/
}

h1 {
	margin: 40px 0 20px 0;
	font-size: 55px;
}

.indent {
	margin-left: 70px;
}

button {
	margin-bottom: 10px;
}